<div class="body-app">
</div>
<div class="lay-cart">
	<div class="cart-main">
		<div class="carting-scroll mr-t" *ngFor="let k of stores">
			<h3 class="cart-store-header">DM Store Haryana</h3>
			<div class="product-cart" *ngFor="let item of items">

				<div class="cart-head col-md-12 col-xs-12">

					<div class="col-xs-3 col-md-3">
						<span class="dis_section"> Up To <b>50%</b> OFF </span>
						<img src="../../assets/c.jpeg" class="img-res">
						<span class="centered">Out of Stocks</span>
					</div>
					<div class="col-xs-9 col-md-9">
						<h4>Colgate Strong Teeth Dental Cream Toothpaste 200 g (Pack of 2)</h4>
					</div>

				</div>
				<div class="d-flex col-xs-12 col-md-12">
					<div class="col-xs-3 col-md-3">
						<p>Rs 169</p>
					</div>
					<div class="col-xs-8 col-md-8">
						<mat-form-field>
							<mat-label>Qauntity</mat-label>
							<mat-select>
								<mat-option>None</mat-option>
								<mat-option value="option1">1</mat-option>
								<mat-option value="option2">2</mat-option>
								<mat-option value="option3">3</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-xs-1 col-md-1">
						<i class="fas fa-trash-alt"></i>
					</div>
				</div>
				<div class="display-flex col-xs-12 col-md-12">
					<div class="col-xs-12 col-md-9">
						<label class="col-xs-12 col-md-9" style="color:orange;font-weight:bold">3 more qyantity needs to add to avial</label>
						<label class="col-xs-12 col-md-9" style="color:green;font-weight:bold">30 minutes left to avial the offer</label>
					</div>
					<div class="col-xs-12 col-md-3">
						<button type="button" class="button-border"> change gropup</button>
					</div>
				</div>
		
			</div>
			<div class="product-dt">
				<h4>Total Amount</h4> <button class="button-border">Proceed</button>
			</div>
		</div>

	</div>
</div>
<div class="fixed-bottom fxbtm">
	<div class="mx-auto row col-md-8 col-xs-12">
		<div class="col-xs-6 col-md-6 ">
			<h3 class="d-inline-block">Total Amount</h3>
			<label class="d-inline-block ml-3">1200</label>
		</div>
		<div class="col-xs-6 col-md-6">
			<h3 class="d-inline-block"> Total items</h3>
			<label class="d-inline-block ml-3">10</label>
		</div>
	</div>
</div>



<app-app-footer></app-app-footer>