.img-payment{
    width: 150px;
    height: 80px;
}

.payment input {
 line-height: 3em;
}

/* .payment{
  display: flex;
justify-content: center;
align-items: center
} */

@media screen and (max-width:450px){

  .mobile-hide{
    display: none;
  }
}